/* Estilos para Material Form Fields en modales */
.pantheon-math-field {
    width: 100%;
    margin-bottom: 16px;
}

/* Sobrescribir estilos de componentes Pantheon */
::ng-deep .menus {
    position: absolute;
    top: 12px;
    left: 13px;
    z-index: 10;
}

/* Ajustes generales para el componente */
:host {
    display: block;
    width: 100%;
    height: 100%;
}
pantehon-grid-panel-header .header-container .menus {
  position: absolute;
  top: 15px;
  left: 13px;
  z-index: 10;
}

.delete-icon{
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.delete-icon:hover {
  color: rgb(179, 177, 177);
}