<div class="Contenedor-Padre">
    <h1>Bienvenido a tu Página de Creación de CVs</h1>
    
    <div class="carruselcontenedorcvs">
        <carousel>
          <slide>
            
            <a href="https://www.ejemplo.com/primera-pagina">
              <img src="/CambioMoneda.jpg" alt="Angular" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">hola hola hoal hoal Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
          <slide>
            <a href="https://www.ejemplo.com/segunda-pagina">
              <img src="/CambioMoneda.jpg" alt="Sistema de Cambio de Monedas Automatizado" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
          <slide>
            <a href="https://www.ejemplo.com/tercera-pagina">
              <img src="/CambioMoneda.jpg" alt="Second slide" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
        </carousel> 

        <carousel>
          <slide>
            
            <a href="https://www.ejemplo.com/primera-pagina">
              <img src="/CambioMoneda.jpg" alt="Angular" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
          <slide>
            <a href="https://www.ejemplo.com/segunda-pagina">
              <img src="/CambioMoneda.jpg" alt="Sistema de Cambio de Monedas Automatizado" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
          <slide>
            <a href="https://www.ejemplo.com/tercera-pagina">
              <img src="/CambioMoneda.jpg" alt="Second slide" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
        </carousel> 

        <carousel>
          <slide>
            
            <a href="https://www.ejemplo.com/primera-pagina">
              <img src="/CambioMoneda.jpg" alt="Angular" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
          <slide>
            <a href="https://www.ejemplo.com/segunda-pagina">
              <img src="/CambioMoneda.jpg" alt="Sistema de Cambio de Monedas Automatizado" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
          <slide>
            <a href="https://www.ejemplo.com/tercera-pagina">
              <img src="/CambioMoneda.jpg" alt="Second slide" style="display: block; width: 100%;">
            </a>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Utilizamos Angular como la columna vertebral de nuestra web debido a sus robustas capacidades y su enfoque en la creación de experiencias de usuario interactivas y de alto rendimiento</p>
              <a href="#" class="btn btn-primary">Leer más</a>
            </div>
          </slide>
        </carousel> 


        
    </div>
</div>