.Contenedor-Padre{
    width: 100%;
    background-color: yellow;
}
.carruselcontenedorcvs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card-body{
    background-color: white;
}