.Contenedor-Padre{
    width: 100%;
    background-color: yellow;
    padding: 10%;
    text-align: center;
}
.carruselcontenedorcvs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.card-body{
    background-color: white;

}

@media (max-width: 768px) {
    .Contenedor-Padre{
        
        padding: 20%;
        text-align: center;
    }
}