<!-- src/app/components/screen-money/screen-money.component.html -->

<div class="contenedor-padre">
  <h1 class="title">ABM Forex Exchange</h1>

  <div class="contenedor-formulario">
    <div class="form-group">
      <div class="field-group">
        <p>IMPORTE:</p>
        <input
          type="number"
          placeholder="Introduce cantidad"
          id="amount"
          name="amount"
          class="input-amount"
          [(ngModel)]="amount"
          required
          aria-label="Cantidad a cambiar"
        />
      </div>
      <div class="field-group">
        <p>DE:</p>
        <select
          id="from-country"
          name="from-country"
          class="input-amount"
          [(ngModel)]="selectValue1"
          required
          aria-label="País origen"
        >
          <option value="" disabled selected>País origen</option>
          <!-- Renderiza países dinámicamente con banderas -->
          <option
            *ngFor="let country of countries"
            [value]="country.cca3"
          >
            <img [src]="getFlagUrl(country.cca3)" alt="{{ country.name.common }} flag" class="flag-icon" />
            {{ country.name.common }} ({{ country.cca3 }})
          </option>
        </select>
      </div>

      <div class="input-button-group">
        <button (click)="change()" class="convert-button">
          <i class="fa-solid fa-repeat"></i>
        </button>
      </div>

      <div class="field-group">
        <p>A:</p>
        <select
          id="to-country"
          name="to-country"
          class="input-amount"
          [(ngModel)]="selectValue2"
          required
          aria-label="País destino"
        >
          <option value="" disabled selected>País destino</option>
          <!-- Renderiza países dinámicamente con banderas -->
          <option
            *ngFor="let country of countries"
            [value]="country.cca3"
          >
            <img [src]="getFlagUrl(country.cca3)" alt="{{ country.name.common }} flag" class="flag-icon" />
            {{ country.name.common }} ({{ country.cca3 }})
          </option>
        </select>
      </div>
      <button (click)="convert()" class="convert-button">Convertir</button>
    </div>

    <div *ngIf="convertedAmount !== null">
      <h3 style="text-align: center; color: white">Cantidad Convertida: {{ convertedAmount | number:'1.2-2' }}</h3>
    </div>

    <p style="text-align: center; font-size: 26px; color: white">PAÍSES ADMITIDOS:</p>

    <div class="countries-list">
      <p *ngFor="let country of countries; let i = index">
        <img [src]="getFlagUrl(country.cca3)" alt="{{ country.name.common }} flag" class="flag-icon" />
        {{ i + 1 }}. {{ country.name.common }} ({{ country.cca3 }})
      </p>
    </div>
  </div>
</div>
