<div class="landing-container">
    <section>
        <p>
            Estamos emocionados de compartir nuestra historia. Todo comenzó una tarde cualquiera durante la pandemia: en circunstancias atípicas nos encontramos, nos fuimos conociendo y pronto descubrimos que disfrutábamos de las mismas pequeñas cosas. Con el tiempo
            compartimos proyectos, remodelamos nuestra casa y recorrimos juntos buena parte del mundo.
        </p>
        <p>
            Hoy no imaginamos nuestras vidas el uno sin el otro, y por eso queremos dar un paso más y celebrar el futuro que nos espera. Nos encantaría contar con vuestra presencia en este día tan especial.
        </p>
    </section>
    <section>
        <img src="assets/images/wedding/test.jpg" alt="Parcela antes de la boda">
    </section>
</div>