 .formulario {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borde-formulario {
  width: 50%;
  height: 50%;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center;
}


.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
  gap: 10px; /* Espacio entre los cuadrados */
  width: 100%;
  height: 100%;
}

.option {
  border: 4px solid black;
  background-color: lightgray;
}

.paginador {
  display: none; /* Ocultar el paginador */
}

@media (max-width: 768px) {
    h3 {
      font-size: 4vw; /* Tamaño de fuente relativo al ancho del viewport */
      margin: 0;
      padding: 0;
      text-align: center;
    
  }}