<div class="contenedor-padre-formulario-cv">
    <!-- Iterar sobre cada pregunta -->
    <div class="formulario-cv" *ngFor="let question of questions">
      <label [for]="question.id">{{ question.label }}</label>
      <div [ngSwitch]="question.id">
        <!-- Input tipo texto por defecto -->
        <input *ngSwitchDefault [id]="question.id" [placeholder]="question.placeholder" type="text" />
        
        <!-- Input tipo fecha si el id es 'fecha' -->
        <input *ngSwitchCase="'fecha'" [id]="question.id" [placeholder]="question.placeholder" type="date" />
      </div>
    </div>
  
    <!-- Botón de envío y paginación fuera del bucle *ngFor -->
    <div class="form-footer">
      <input style="max-width: 60px ;" type="submit" value="Enviar" (click)="onSubmit()">
      <pagination 
        [totalItems]="totalItems"
        [maxSize]="5"
        [boundaryLinks]="true"  
        (pageChanged)="onPageChanged($event)">
      </pagination>
    </div>
  </div>
  