<div class="formulario">
  <div class="borde-formulario">
    <h3 *ngIf="currentTitle">{{ currentTitle.title }}</h3>
    <div class="options-container">
      <ng-container *ngFor="let question of questionsToShow">
        <button class="option" (click)="goToNextPage()">
          {{ question.label }}
        </button>
      </ng-container>
    </div>
    <div class="paginador">
      <pagination 
        [totalItems]="totalItems"
        [maxSize]="4"
        [boundaryLinks]="true"  
        (pageChanged)="onPageChanged($event)">
      </pagination>
    </div>
  </div>
</div>
